.button {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    text-align: center;
    background: #2A9D8F;
    border-radius: 8px;
    padding: 12px 0;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: #30b1a1;
    }
}