.profile__label {
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px 0;
    &:not(:last-child) {
        border-bottom: 1px solid #EAEAEA;
    }
}
.profile__input__name {
    font-size: 13px;
    line-height: 13px;
}

.profile__input {
    font-size: 13px;
    line-height: 13px;
    color: #999999;
    text-align: right;
    background: none;
}