.item-control {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 10px;
    background: none;
    text-align: left;
    color: #2A9D8F;
    cursor: pointer;
    display: inline-block;
}

.item-control_red {
    color: #FF0000;
}