.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar__wrapper-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #686868;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar__img {

}
.avatar__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}