
.back-panel {
    height: 100%;
    background: #282C31;
    border-right: 1px solid #595B5D;
}

.back-panel__wrapper-link {
    display: flex;
    align-items: center;
    padding: 22px 7px 0;
}
.back-panel__icon {
    margin-right: 4px;
}
.back-panel__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}