
.back-panel {
    height: 100%;
    background: #282C31;
    border-right: 1px solid #595B5D;
}

.back-panel__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}