* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    background: #151718;
}
ul, li {
    display: block;
}
a, a:hover, a:active, a:focus {
    text-decoration:none;
    outline: none;
}
input {
    border: none;
}
input:hover, input:focus {
    outline: none;
}